{{- if .Values.bizEcosystemChargingBackend.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bizEcosystemChargingBackend.fullname" . }}
  labels:
    {{- include "bizEcosystemChargingBackend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.bizEcosystemChargingBackend.deployment.replicaCount }}
  revisionHistoryLimit: {{ .Values.bizEcosystemChargingBackend.deployment.revisionHistoryLimit }}
  strategy:
  {{- if or .Values.bizEcosystemChargingBackend.plugins.enabled .Values.bizEcosystemChargingBackend.media.enabled }}
  {{- with .Values.bizEcosystemChargingBackend.deployment.updateStrategyPVC }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- else }}
  {{- with .Values.bizEcosystemChargingBackend.deployment.updateStrategy }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "bizEcosystemChargingBackend.matchLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{ include "bizEcosystemChargingBackend.labels" . | nindent 8 }}
        {{- with .Values.bizEcosystemChargingBackend.deployment.additionalLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- if .Values.bizEcosystemChargingBackend.deployment.additionalAnnotations -}}
      annotations:
        {{- with .Values.bizEcosystemChargingBackend.deployment.additionalAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      {{- if .Values.openshift }}
      serviceAccountName: {{ include "business-api-ecosystem.name" . }}-sa
      {{- else -}}
      serviceAccountName: {{ include "bizEcosystemChargingBackend.serviceAccountName" . }}
      {{- end }}
      initContainers:
        {{- include "business-api-ecosystem.initContainer.mongodb" ( dict "ctx" . "name" .Values.bizEcosystemChargingBackend.name "host" .Values.bizEcosystemChargingBackend.db.host ) | nindent 8 }}
        {{- include "business-api-ecosystem.initContainer.apis" ( dict "ctx" . "name" "{{ include \"bizEcosystemChargingBackend.apiInitContainer\" . }}-inventory" "path" "DSProductInventory" ) | nindent 8 }}
        {{- include "business-api-ecosystem.initContainer.apis" ( dict "ctx" . "name" "{{ include \"bizEcosystemChargingBackend.apiInitContainer\" . }}-catalog" "path" "DSProductCatalog" ) | nindent 8 }}
        {{- include "business-api-ecosystem.initContainer.apis" ( dict "ctx" . "name" "{{ include \"bizEcosystemChargingBackend.apiInitContainer\" . }}-ordering" "path" "DSProductOrdering" ) | nindent 8 }}
        {{- include "business-api-ecosystem.initContainer.apis" ( dict "ctx" . "name" "{{ include \"bizEcosystemChargingBackend.apiInitContainer\" . }}-party" "path" "DSPartyManagement" ) | nindent 8 }}
        {{- include "business-api-ecosystem.initContainer.apis" ( dict "ctx" . "name" "{{ include \"bizEcosystemChargingBackend.apiInitContainer\" . }}-billing" "path" "DSBillingManagement" ) | nindent 8 }}
        {{- include "business-api-ecosystem.initContainer.apis" ( dict "ctx" . "name" "{{ include \"bizEcosystemChargingBackend.apiInitContainer\" . }}-customer" "path" "DSCustomerManagement" ) | nindent 8 }}
        {{- include "business-api-ecosystem.initContainer.apis" ( dict "ctx" . "name" "{{ include \"bizEcosystemChargingBackend.apiInitContainer\" . }}-usage" "path" "DSUsageManagement" ) | nindent 8 }}
      containers:
        {{- if .Values.bizEcosystemChargingBackend.backup.enabled }}
        - name: {{ template "business-api-ecosystem.name" . }}-{{ .Values.bizEcosystemChargingBackend.name }}-backup
          imagePullPolicy: {{ .Values.bizEcosystemChargingBackend.backup.image.pullPolicy }}
          image: "{{ .Values.bizEcosystemChargingBackend.backup.image.repository }}:{{ .Values.bizEcosystemChargingBackend.backup.image.tag }}"
          env:
            - name: BACKUP_FILE_PREFIX
              value: {{ .Values.bizEcosystemChargingBackend.backup.filePrefix }}
            - name: GCS_BUCKET
              value: {{ .Values.bizEcosystemChargingBackend.backup.bucketName }}
            - name: BACKUP_SCHEDULE
              value: {{ .Values.bizEcosystemChargingBackend.backup.schedule | quote }}
          volumeMounts:
            - name: plugins
              mountPath: /backup/plugins
            - name: inst-plugins
              mountPath: /backup/wstore
            - name: media-assets
              mountPath: /backup/assets
            - name: media-bills
              mountPath: /backup/bills
            {{- if .Values.bizEcosystemChargingBackend.backup.secretName }}
            - name: gcs-secret
              mountPath: /gcs/credentials.json
              subPath: credentials.json
            {{- end }}
        {{- end }}
        - name: {{ template "business-api-ecosystem.name" . }}-{{ .Values.bizEcosystemChargingBackend.name }}
          imagePullPolicy: {{ .Values.bizEcosystemChargingBackend.deployment.image.pullPolicy }}
          image: "{{ .Values.bizEcosystemChargingBackend.deployment.image.repository }}:{{ .Values.bizEcosystemChargingBackend.deployment.image.tag }}"
          ports:
            - name: http
              containerPort: {{ .Values.bizEcosystemChargingBackend.port}}
              protocol: TCP
          {{- with .Values.bizEcosystemChargingBackend.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /charging/api/assetManagement/currencyCodes
              port: {{ .Values.bizEcosystemChargingBackend.port}}
            initialDelaySeconds: {{ .Values.bizEcosystemChargingBackend.deployment.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.bizEcosystemChargingBackend.deployment.livenessProbe.periodSeconds }}
            successThreshold: {{ .Values.bizEcosystemChargingBackend.deployment.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.bizEcosystemChargingBackend.deployment.livenessProbe.timeoutSeconds }}
          readinessProbe:
            httpGet:
              path: /charging/api/assetManagement/currencyCodes
              port: {{ .Values.bizEcosystemChargingBackend.port}}
            initialDelaySeconds: {{ .Values.bizEcosystemChargingBackend.deployment.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.bizEcosystemChargingBackend.deployment.readinessProbe.periodSeconds }}
            successThreshold: {{ .Values.bizEcosystemChargingBackend.deployment.readinessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.bizEcosystemChargingBackend.deployment.readinessProbe.timeoutSeconds }}
          volumeMounts:
            - name: plugins
              mountPath: /business-ecosystem-charging-backend/src/plugins
            - name: inst-plugins
              mountPath: /business-ecosystem-charging-backend/src/wstore/asset_manager/resource_plugins/plugins
            - name: media-assets
              mountPath: /business-ecosystem-charging-backend/src/media/assets
            - name: media-bills
              mountPath: /business-ecosystem-charging-backend/src/media/bills
            {{- if .Values.bizEcosystemChargingBackend.token.enabled }}
            - name: key-volume
              mountPath: /business-ecosystem-charging-backend/key.pem
              subPath: key.pem
            - name: cert-volume
              mountPath: /business-ecosystem-charging-backend/cert.pem
              subPath: cert.pem
            {{- end }}
          env:
            - name: BAE_CB_PAYMENT_METHOD
              value: {{ .Values.bizEcosystemChargingBackend.payment.method | quote }}
            {{- if .Values.bizEcosystemChargingBackend.paypal }}
            - name: BAE_CB_PAYPAL_CLIENT_ID
              value: {{ .Values.bizEcosystemChargingBackend.paypal.clientId | quote }}
            - name: BAE_CB_PAYPAL_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "bizEcosystemChargingBackend.secretName" . }}
                  key: paypalClientSecret
            {{- end }}
            - name: BAE_CB_MONGO_SERVER
              value: {{ .Values.bizEcosystemChargingBackend.db.host | quote }}
            - name: BAE_CB_MONGO_PORT
              value: {{ .Values.bizEcosystemChargingBackend.db.port | quote }}
            - name: BAE_CB_MONGO_DB
              value: {{ .Values.bizEcosystemChargingBackend.db.database | quote }}
            - name: BAE_CB_MONGO_USER
              value: {{ .Values.bizEcosystemChargingBackend.db.user | quote }}
            - name: BAE_CB_MONGO_PASS
              valueFrom:
                secretKeyRef:
                   name: {{ include "bizEcosystemChargingBackend.secretName" . }}
                   key: dbPassword
            - name: BAE_LP_OAUTH2_ADMIN_ROLE
              value: {{ .Values.oauth.adminrole | quote }}
            - name: BAE_LP_OAUTH2_SELLER_ROLE
              value: {{ .Values.oauth.sellerrole | quote }}
            - name: BAE_LP_OAUTH2_CUSTOMER_ROLE
              value: {{ .Values.oauth.customerrole | quote }}
            - name: BAE_CB_EMAIL
              value: {{ .Values.bizEcosystemChargingBackend.email.mail | quote }}
            {{- if .Values.bizEcosystemChargingBackend.email.smtp }}
            {{- if .Values.bizEcosystemChargingBackend.email.smtp.user }}
            - name: BAE_CB_EMAIL_USER
              value: {{ .Values.bizEcosystemChargingBackend.email.smtp.user | quote }}
            {{- end }}
            {{- if .Values.bizEcosystemChargingBackend.email.smtp.password }}
            - name: BAE_CB_EMAIL_PASS
              valueFrom:
                secretKeyRef:
                   name: {{ include "bizEcosystemChargingBackend.secretName" . }}
                   key: smtpPassword
            {{- end }}
            {{- if .Values.bizEcosystemChargingBackend.email.smtp.server }}
            - name: BAE_CB_EMAIL_SMTP_SERVER
              value: {{ .Values.bizEcosystemChargingBackend.email.smtp.server | quote }}
            {{- end }}
            {{- if .Values.bizEcosystemChargingBackend.email.smtp.port }}
            - name: BAE_CB_EMAIL_SMTP_PORT
              value: {{ .Values.bizEcosystemChargingBackend.email.smtp.port | quote }}
            {{- end }}
            {{- end }}
            - name: BAE_CB_VERIFY_REQUESTS
              value: {{ .Values.bizEcosystemChargingBackend.verifyRequests | quote }}
            - name: BAE_SERVICE_HOST
              value: {{ .Values.externalUrl | quote }}
            - name: BAE_CB_LOCAL_SITE
              value: http://{{ include "bizEcosystemChargingBackend.fullhostname" . }}
            - name: LOGLEVEL
              value: {{ .Values.bizEcosystemChargingBackend.loglevel | quote }}  
            - name: BAE_CB_MAX_UPLOAD_SIZE
              value: {{ .Values.bizEcosystemChargingBackend.maxUploadSize | quote }}
            - name: BAE_CB_CATALOG
              value: http://{{ include "bizEcosystemApis.fullhostname" . }}/DSProductCatalog
            - name: BAE_CB_INVENTORY
              value: http://{{ include "bizEcosystemApis.fullhostname" . }}/DSProductInventory
            - name: BAE_CB_ORDERING
              value: http://{{ include "bizEcosystemApis.fullhostname" . }}/DSProductOrdering
            - name: BAE_CB_BILLING
              value: http://{{ include "bizEcosystemApis.fullhostname" . }}/DSBillingManagement
            - name: BAE_CB_RSS
              value: http://{{ include "bizEcosystemRss.fullhostname" . }}/DSRevenueSharing
            - name: BAE_CB_USAGE
              value: http://{{ include "bizEcosystemApis.fullhostname" . }}/DSUsageManagement
            - name: BAE_CB_AUTHORIZE_SERVICE
              value: http://{{ include "bizEcosystemLogicProxy.fullhostname" . }}{{ .Values.bizEcosystemChargingBackend.authorizeServicePath }}
            {{- if .Values.bizEcosystemChargingBackend.plugins.enabled }}
            - name: BAE_ASSET_IDM_USER
              value: {{ .Values.bizEcosystemChargingBackend.plugins.idmUser | quote }}
            - name: BAE_ASSET_IDM_PASSWORD
              valueFrom:
                secretKeyRef:
                   name: {{ include "bizEcosystemChargingBackend.secretName" . }}
                   key: pluginsIdmPassword
            - name: BAE_ASSET_IDM_URL
              value: {{ .Values.oauth.server | quote }}
            {{- end }}
            - name: BAE_CB_PROPAGATE_TOKEN
              value: {{ .Values.bizEcosystemChargingBackend.propagateToken | quote }}
            {{- if .Values.bizEcosystemChargingBackend.token.enabled }}
            - name: BAE_TOKEN_KEY
              value: /business-ecosystem-charging-backend/key.pem
            - name: BAE_TOKEN_CRT
              value: /business-ecosystem-charging-backend/cert.pem
            - name: BAE_EORI
              value: {{ .Values.bizEcosystemChargingBackend.token.identifier | quote }}
            {{- end }}
      {{- with .Values.bizEcosystemChargingBackend.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.bizEcosystemChargingBackend.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.bizEcosystemChargingBackend.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: plugins
          {{- if .Values.bizEcosystemChargingBackend.plugins.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "bizEcosystemChargingBackend.fullname" . }}-plugins
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: inst-plugins
          {{- if .Values.bizEcosystemChargingBackend.plugins.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "bizEcosystemChargingBackend.fullname" . }}-inst-plugins
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: media-assets
          {{- if .Values.bizEcosystemChargingBackend.media.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "bizEcosystemChargingBackend.fullname" . }}-media-assets
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: media-bills
          {{- if .Values.bizEcosystemChargingBackend.media.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "bizEcosystemChargingBackend.fullname" . }}-media-bills
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if .Values.bizEcosystemChargingBackend.token.enabled }}
        - name: key-volume
          secret:
            secretName: {{ include "bizEcosystemChargingBackend.certSecretName" . }}
            items:
              - key: key.pem
                path: key.pem
        - name: cert-volume
          secret:
            secretName: {{ include "bizEcosystemChargingBackend.certSecretName" . }}
            items:
              - key: cert.pem
                path: cert.pem
        {{- end }}
        {{- if .Values.bizEcosystemChargingBackend.backup.secretName }}
        - name: gcs-secret
          secret:
            secretName: {{ .Values.bizEcosystemChargingBackend.backup.secretName }}
        {{- end }}
{{- end }}
