apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "did-helper.fullname" . }}-cm
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    {{- include "did-helper.labels" . | nindent 4 }}
data:
  {{- toYaml .Values.config.server | nindent 2 }}
  
  {{- $target := .Values.config.generateKey }}
  {{- if .Values.config.provideKeystore.enabled }}
    {{- $target = .Values.config.provideKeystore }}
  {{- end }}

  {{- $cleaned := omit $target "enabled" }}
  {{- if $cleaned }}
  {{- toYaml $cleaned | nindent 2 }}
  {{- end }}