apiVersion: v1
kind: Secret
metadata:
  name: {{ include "keyrock.fullname" . }}
  labels:
    {{ include "keyrock.labels" . | nindent 4 }}
type: Opaque
data:
  dbPassword: {{ .Values.db.password | b64enc }}
  {{- if .Values.admin.password }}
  adminPassword: {{ .Values.admin.password | b64enc }}
  {{ else }}
  adminPassword: {{ randAlphaNum 10 | b64enc | quote }}
  {{- end }}