{{- $productOrder := index .Values.services "product-order" }}
{{- $productCatalog := index .Values.services "product-catalog" }}
{{- $quote := index .Values.services "quote" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "contract.fullname" . }}
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    {{ include "contract.labels" . | nindent 4 }}
data:
  application.yaml: |
    {{- if .Values.config }}
    {{- toYaml .Values.config | nindent 4 }}
    {{- else }}
    micronaut:
      http:
        services:
          read-timeout: 30s
          {{- toYaml .Values.services | nindent 10 }}
    general:
      did: {{ .Values.did }}
      enableOdrlPap: {{ .Values.enableOdrlPap }}
      enableTrustedIssuersList: {{ .Values.enableTrustedIssuersList }}
      enableTmForum: {{ .Values.enableTmForum }}
      enableRainbow: {{ .Values.enableRainbow }}
      enableCentralMarketplace: {{ .Values.enableCentralMarketplace }}

    {{- if eq .Values.oid4vp.enabled true }}
    oid4vp:
      enabled: {{ .Values.oid4vp.enabled }}
      holder: 
        holderId: {{ .Values.oid4vp.holder.holderId }} 
        keyType: {{ .Values.oid4vp.holder.keyType }} 
        keyPath: {{ .Values.oid4vp.holder.keyPath }} 
        signatureAlgorithm: {{ .Values.oid4vp.holder.signatureAlgorithm }} 
      {{- if eq .Values.oid4vp.proxyConfig.enabled true }}
      proxyConfig:
        useProxy: true
        proxyHost: {{ .Values.oid4vp.proxyConfig.proxyHost }}
        proxyPort: {{ .Values.oid4vp.proxyConfig.proxyPort }}
      {{- end }}
      credentialsFolder: {{ .Values.oid4vp.credentialsFolder }}
      trustAnchors: {{ .Values.oid4vp.trustAnchors }}        
    {{- end }}

    {{- if eq .Values.notification.enabled true }}
    notification:
      enabled: true
      host: {{ .Values.notification.host }}
      entities:
        - entityType: "ProductOrder"
          eventTypes: [ "CREATE", "STATE_CHANGE", "DELETE" ]
          apiAddress: "{{ $productOrder.url}}{{ $productOrder.path}}"
        - entityType: "ProductOffering"
          eventTypes: [ "CREATE", "STATE_CHANGE", "DELETE" ]
          apiAddress: "{{ $productCatalog.url}}{{ $productCatalog.path}}"
        - entityType: "Catalog"
          eventTypes: [ "CREATE", "DELETE", "STATE_CHANGE" ]
          apiAddress: "{{ $productCatalog.url}}{{ $productCatalog.path}}"
        - entityType: "Quote"
          eventTypes: [ "CREATE", "DELETE", "STATE_CHANGE", "ATTRIBUTE_CHANGE" ]
          apiAddress: "{{ $quote.url}}{{ $quote.path}}"
    {{- end }}
    {{- end }}
