{{- if .Values.siop.enabled}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "bizEcosystemLogicProxy.fullname" . }}-ccs
  labels:
    {{- include "bizEcosystemLogicProxy.labels" . | nindent 4 }}
data:
  init.sh: |-
    curl -X 'POST' \
      '{{ .Values.siop.ccs.endpoint }}/service' \
      -H 'Accept: */*' \
      -H 'Content-Type: application/json' \
      -d '{
      "id": "{{ .Values.siop.clientId }}",
      "defaultOidcScope": "{{ .Values.siop.ccs.defaultOidcScope }}",
      {{- if .Values.siop.ccs.oidcScopes -}}
      "oidcScopes": {{- toJson .Values.siop.ccs.oidcScopes }}
      {{- end }}
    }'
{{- end }}
