{{- if and .Values.bizEcosystemLogicProxy.enabled .Values.bizEcosystemLogicProxy.route.enabled -}}
{{- $fullName := include "bizEcosystemLogicProxy.fullname" . -}}
{{- range $index, $route := .Values.bizEcosystemLogicProxy.route.routes }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ include "bizEcosystemLogicProxy.fullname" $ }}-{{ $index }}
  labels:
    {{ include "bizEcosystemLogicProxy.labels" $ | nindent 4 }}
  {{- if or $route.annotations $route.certificate }}
  annotations:
    {{- if $route.certificate }}
      cert-utils-operator.redhat-cop.io/certs-from-secret: {{ include "bizEcosystemLogicProxy.fullname" $ }}-tls-sec-{{ $index }}
    {{- end }}
    {{- with $route.annotations }}
      {{- toYaml . | nindent 4 }}
      {{- end }}
  {{- end }}
spec:
  host: {{ $route.host}}
  to:
    kind: Service
    name: {{ $fullName }}
  {{- if $route.tls }}
  tls:
  {{- with $route.tls }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
