{{- if .Values.bizEcosystemLogicProxy.enabled -}}
{{- if not .Values.bizEcosystemLogicProxy.existingSecret -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "bizEcosystemLogicProxy.fullname" . }}
  labels:
    {{ include "bizEcosystemLogicProxy.labels" . | nindent 4 }}
type: Opaque
data:
  dbPassword: {{ .Values.bizEcosystemLogicProxy.db.password | b64enc }}
  oauthClientSecret: {{ .Values.oauth.clientSecret | b64enc }}
---
{{- end }}
{{- end }}
{{ if .Values.bizEcosystemLogicProxy.token.enabled -}}
{{- if not .Values.bizEcosystemLogicProxy.existingCertSecret -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "bizEcosystemLogicProxy.fullname" . }}-certs
  labels:
    {{- include "bizEcosystemLogicProxy.labels" . | nindent 4 }}
data:
  key.pem: |-
    {{ .Values.bizEcosystemLogicProxy.token.key | b64enc | nindent 4 }}
  cert.pem: |-
    {{ .Values.bizEcosystemLogicProxy.token.cert | b64enc | nindent 4 }}

{{- end }}
{{- end }}
