{{- range .Values.apis -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tmforum.fullname" $ }}-{{ .name }}
  {{- if $.Values.service.annotations }}
  annotations:
    {{ toYaml $.Values.service.annotations | nindent 4 }}
  {{- end }}
  labels:
    {{ include "tmforum.labels" $ | nindent 4 }}
spec:
  type: {{ $.Values.service.type }}
  ports:
    - port: {{ $.Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "tmforum.name" $ }}-{{ .name }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
---
{{- end }}